/* Highlighter Styles */

.highlighter {
    display: block !important;
    position: absolute !important;
    z-index: 9997 !important;
    visibility: hidden !important;
    opacity: 0;
    pointer-events: none !important;
    box-sizing: content-box !important;
    border: solid 2px rgba(4, 134, 255, 1);
    background-color: rgba(4, 134, 255, 0.2);
    padding: 0;
    border-radius: 4px;
    margin: auto;
    transform: none;
    box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 1),
      3px 3px 8px rgba(0, 0, 0, 0.2);
    transition: 0.15s !important;
  }
  
  .highlighter.hover {
    background-color: transparent;
    box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 1),
      3px 3px 8px rgb(82, 169, 0.2);
    border: solid 2px rgb(82, 169, 0);
  }

  /* End Highligher Styles */

  /* Data-Nav */
  
  [data-nav] {
    position: fixed;
    left: 0px;
    top: 0;
    z-index: 10000;
    height: 100%;
    line-height: 1.4;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 3em 1em;
    width: 7em;
    font-size: 18px;
    transition: background-color 0.4s ease 0s, width 0.6s ease 0s;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  [data-nav]:hover {
    width: 20em;
  }
  
  [data-nav] .nav-div > a {
    color: #808080;
    transition: color 0.4s ease 0s, transform 0.6s ease 0s;
    display: block;
  }
  
  [data-nav] .nav-div > a.active,
  [data-nav] .nav-div > a.active ~ a {
    color: rgba(4, 134, 255, 1);
  }
  
  [data-nav]:hover .nav-div  > a {
    transform: none !important;
  }
  
  [data-nav] .nav-div > a:hover,
  [data-nav] .nav-div > a.active:hover,
  [data-nav] .nav-div > a.active ~ a:hover {
      color: #ffffff;
  }
  
  [data-nav] .separator {
    font-weight: 700;
    color: #808080;
    margin: 0 0.5em;
  }

  .data-nav .btn-container {
    opacity: 0;
    transition: opacity .1s ease 0s;
    margin-top: 2em;
  }

  .data-nav:hover .btn-container {
    opacity: 1;
    transition: opacity .6s ease .3s;
  }

  /* End Data-Nav */

  /* Preview Box */

  div.previewBox {
    overflow-y: scroll;
    border: 10px solid #FFFFFF;
    border-radius: 9px;
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  div.previewContainer {
    z-index: -1000;
    background-color: #FFFFFF;
    position: fixed;
    border-radius: 9px;
    left: 18vw;
    top: 200px;
    width: 1020px;
    max-width: 65vw;
    opacity: 0;
    transition: opacity .4s ease 0s;
    max-height: 60vh;
    height: 800px;
  }
  
  .previewClicked .previewBox {
    position: relative;
    opacity: 1;
  }
  
  .previewClicked .previewContainer {
    position: fixed;
    z-index: 15000;
    opacity: 1;
  }
  
  .previewContainer > span.previewClose {
    height: 40px;
    width: 40px;
    top: 0;
    right: 0;
    transform: translate(40px, -40px);
    content: '';
    padding: 0 0;
    position: absolute;
    cursor: pointer;
    background-color: transparent;
  }
  
  .previewContainer > span.previewClose:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background-color: #FFFFFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
  }
  
  .previewContainer > span.previewClose:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background-color: #FFFFFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
  }
  
  .previewClicked div.previewContainer:before {
    position: fixed;
    content: '';
    z-index: -1;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    opacity: .6;
    background-color: black;
  }
  

  .previewContainer > .cb-btn.v1 {
    position: absolute;
    top: calc(100% + 5px);
  }

  /* End Preview Box */

  /* Preview Reset Styles */
  .previewBox h1, .previewBox h2, .previewBox h3, .previewBox h4, .previewBox h5, .previewBox h6 {
    font-family: 'Times New Roman', Times, serif !important;
    color: #000000 !important;
    line-height: initial !important;
    letter-spacing: initial !important;
    margin: 1em 0;
    font-weight: 700 !important;
}

.previewBox h1 {
    font-size: 2em !important;
}

.previewBox h2 {
    font-size: 1.5em !important;
}

.previewBox h3 {
    font-size: 1.4em !important;
}

.previewBox h4 {
    font-size: 1.3em !important;
}

.previewBox h5 {
    font-size: 1.2em !important;
}

.previewBox h6 {
    font-size: 1.1em !important;
}

.previewBox p {
    color: #000000;
    font-size: 1em !important;
    margin: 1em 0;
    font-style: normal;
}

.previewBox img {
    border: none !important;
}

.previewBox ol {
    padding-inline-start: 40px;
    list-style-type: decimal !important;
    font-size: 1em !important;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.previewBox ul {
    padding-inline-start: 40px;
    list-style-type: disc !important;
    font-size: 1em !important;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
  /* End Preview Reset Styles */

  /* Button Styles */
  .btn-container {
    display: inline-block;
    z-index: 1;
  }
  
  .btn-container.highlighter-btns {
    position: absolute !important;
    transition: 0.15s !important;
  }

  .btn-container .cb-btn:first-child {
    margin-right:.5em;
  }
  
  .cb-btn {
    padding: 0.8em 2em;
    display: inline-block;
    transition: color 0.8s ease, border-color 0.8s ease, background-size 0.8s ease;
    cursor: pointer;
    line-height: 1.4;
    font-weight: 700;
    z-index: 1;
    font-size: 0.889rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    border-radius: 0.2rem;
    text-align: center;
    transition: 0.15s, color 0.4s ease 0s, background-color 0.4s ease 0s;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  .cb-btn.v1 {
      color: #ffffff;
      background-color: #4d9fa0;
  }
  
  .cb-btn.v1:hover {
    background-color: #113d3a;
    color: #ffffff;
  }
  
  .cb-btn.v2 {
      color: #ffffff;
      background-color: #6D6D6D;
    }
    
    .cb-btn.v2:hover {
      background-color: #3D3D3D;
      color: #ffffff;
  }

  .previewContainer .cb-btn:first-child {
    position: absolute;
    right: 0;
  }
  /* End Button Styles */